<html coding="utf-8">
<head><title>学生选课</title>
<script src="/media/jquery.js" type="text/javascript"></script>
<link href="/media/tablecloth.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/media/tablecloth.js"></script>
<script type="text/javascript">
fresh = false;
$(document).ready(function(){
  $(".ajax").click(function(){
     $url = $(this).attr("addr");
     htmlobj=$.ajax({url:$url,async:'true',dataType:'text/html,json',timeout:3000,
                   contentType:'text/html',
                   complete:function (XMLHttpRequest, textStatus) {
                   fresh = true;
                   }
                   });
     alert("请求已发出，请等待回应");
     
  });      
});
setInterval(function() {

            if (fresh) location.reload();
            fresh = false;

    },
        5000);
</script>
</head>
<body>
{% include "head.html"%}
<span><p>课程数：{{classes|length}}</p></span>
<table id="result_list" align='center'"> 
<thead>
<tr>
<th scope="col" >
   
   <div class="text"><span>课程名</span></div>
   <div class="clear"></div>
</th>
<th scope="col" >
   
   <div class="text"><span>介绍</span></div>
   <div class="clear"></div>
</th>
<th scope="col" >
   
   <div class="text"><span>学分</span></div>
   <div class="clear"></div>
</th>
<th scope="col" >
   
   <div class="text"><span>开课时间</span></div>
   <div class="clear"></div>
</th>
<th scope="col" >
   
   <div class="text"><span>课时</span></div>
   <div class="clear"></div>
</th>
<th scope="col" >
   
   <div class="text"><span>授课教师</span></div>
   <div class="clear"></div>
</th>
<th scope="col" >
   
   <div class="text"><span>学生人数限制</span></div>
   <div class="clear"></div>
</th>
<th scope="col" >
   
   <div class="text"><span> </span></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>
{% for obj in classes%}
<tr class="row1">
<td>{{obj.className}} <br/> </td>
<td>{{obj.classDesc}} </td>
<td>{{obj.classPoint}} </td>
<td>{{obj.classStart}}</td>
<td>{{obj.classTimes}}</td>
<td>{{obj.classT}}</td>
<td>{{obj.classMax}}</td>
<td>
{% if obj.is_picked == 1 %}
<a class='ajax' addr='http://192.168.1.106:8442/?comm=2&userid={{user.userId}}&classid={{obj.classId}}' href="javascript:void(0);">退选</a>
{% else %}
<a class='ajax' addr='http://192.168.1.106:8442/?comm=1&userid={{user.userId}}&classid={{obj.classId}}' href="javascript:void(0);">申请</a>
{% endif %} 
</td>
</tr>
{%endfor%}
</tbody>
</table>

</body>
</html>